.fab-button {
  position: fixed;
  right: 32px;
  bottom: 102px;
  z-index: 2147483640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.new-account {
  width: 100%;
  min-height: 178px;
  max-height: 178px;
  margin-top: 15px;
}

.account-card {
  width: 100%;
  min-height: 178px;
  max-height: 178px;
  margin-top: 15px;
}

.home {
  padding: 24px;
}

.ant-card-head {
  text-align: start;
}
