.App .layout {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}

.site-layout .content {
  overflow: scroll;
}

.site-layout .container {
  margin: 24px 16px 0;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.unauthorized-layout-background {
  background-color: #fafafa;
}

.unauthorized-wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
